.map_infowindow_content {
  width: 390px;
}

.map_infowindow_content .map_info {
  display: inline-block;
}

.map_infowindow_content .map_info h2 {
  max-width: 290px;
  font-size: 20px;
}

.map_infowindow_content .map_logo {
  float: right;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  vertical-align: top;
}

.map_infowindow_content .map_streetView {
  display: inline-block;
  margin-top: 15px;
}
